:root {
	/* COLORS */
	--yellow: #ffcb05;
	--light-blue: #3d7dca;
	--blue: #003a70;
	--green: #1a936f;
	--red: #ff4236;
	--white: #fcfcfc;
	--bg: #ececec;

	/* SIZING */
	--base: 0.45rem;

	/* BOX SHADOW */
	--shadow: 0 7px 7px rgba(150, 170, 180, 0.5);
}

html,
body {
	overflow-x: hidden;
}

body {
	font-family: 'Roboto', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans',
		sans-serif;
	height: 100%;
	width: 100%;
	background-color: var(--bg);
}

.header {
	background-color: var(--light-blue);
	color: var(--white);
	margin-bottom: calc(var(--base) * 6);
	padding-bottom: calc(var(--base) * 3);
	padding-top: calc(var(--base) * 3);
	text-align: center;
	box-shadow: var(--shadow);
}

.title {
	text-transform: uppercase;
	font-weight: normal;
	padding: 0 calc(var(--base) * 9);
}

.main {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base) * 4);
	place-items: center;
}

.card {
	background-color: var(--white);
	border-radius: var(--base);
	color: #000;
	display: grid;
	filter: drop-shadow(var(--shadow));
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	height: calc(var(--base) * 28);
	position: relative;
	width: calc(var(--base) * 42);
	z-index: -99;
}

.card__header {
	order: 1;
}

.card__header > .sprite {
	height: 100%;
	width: auto;
}

.card__body {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding-left: calc(var(--base) * 3);
}

.card__body > .number {
	font-size: 32px;
	margin: 0;
}

.name {
	text-transform: capitalize;
	font-size: 19px;
}

.types {
	display: grid;
	color: var(--white);
	grid-template-columns: repeat(2, 1fr);
	gap: var(--base);
}

.type {
	text-transform: uppercase;
	background-color: grey;
	text-align: center;
	padding: calc(var(--base) * 0.4) calc(var(--base) * 0.9);
	border-radius: 14px;
}

.type[data-type='grass'] {
	background-color: var(--green);
}

.type[data-type='poison'] {
	background-color: purple;
}

.type[data-type='fire'] {
	background-color: var(--red);
}

.type[data-type='flying'] {
	color: #000;
	background-color: lightcyan;
}

.type[data-type='water'] {
	background-color: var(--light-blue);
}

.type[data-type='bug'] {
	background-color: darkgreen;
}

.type[data-type='electric'] {
	background-color: var(--yellow);
}

.type[data-type='ground'],
.type[data-type='fighting'] {
	background-color: brown;
}

.type[data-type='fairy'] {
	background-color: palevioletred;
}

.type[data-type='psychic'] {
	background: linear-gradient(45deg, purple, violet);
}

.type[data-type='rock'] {
	background-color: rgb(70, 67, 67);
}

.type[data-type='steel'] {
	background: linear-gradient(45deg, grey, lightcyan);
}

.type[data-type='ice'] {
	background-color: lightblue;
}

.type[data-type='ghost'] {
	background-color: violet;
}

.load-more {
	grid-column: span 3;
	margin-top: calc(var(--base) * 6);
	margin-bottom: calc(var(--base) * 12);
	border: none;
	color: var(--bg);
	padding: calc(var(--base) * 2) calc(var(--base) * 5);
	background-color: var(--light-blue);
}

.load-more:hover {
	cursor: pointer;
}

.load-more:active {
	background-color: var(--bg);
	color: #000;
}
